{% block sw_order_line_items_grid_grid_columns_label_content %}
    {% parent() %}
    <template>
        <div>
            <select-states
                    :itemid=item.id
                    :item=item
            >

            </select-states>
        </div>
    </template>
{% endblock %}


